<h1>{{ storeName|uppercase }}</h1>
<h2>{{errMsg}}</h2>
<div *ngIf="noTable; then thenBlock else elseBlock"></div>
<ng-template #thenBlock>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
            data-bs-toggle="dropdown" aria-expanded="false">
            Categories
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li>
                <a class="dropdown-item" href="#" *ngFor="let cat of categoryList">{{cat.Name}}</a>
            </li>
        </ul>

    </div>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
                <th scope="col">Img</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let prod of productList">
                <th scope="row">{{prod.id}}</th>
                <td>{{prod.name}}</td>
                <td>{{prod.quantity}}</td>
                <td>{{prod.price|currency}}</td>
                <td><img [src]="prod.img" height="70" /></td>
            </tr>

        </tbody>
    </table>

    <div class="row  align-items-center">
        <div class="col-auto">
            <label for="nameInp" class="col-form-label">Name</label>
            <input type="text" id="nameInp" class="form-control mb-3" (keyup)="tttt($event)">
        </div>
    </div>
    <h3 *ngIf="!noDiscount"> We offer an explicit discount of {{ discount|percent }}</h3>
</ng-template>

<ng-template #elseBlock>
    <div class="col-auto">
        <button type="button" class="btn btn-primary " (click)="renderValues()">Show Products</button>
    </div>
    <!-- <h2>Thanks for purshasing from Our Store {{custName}}</h2> -->
</ng-template>

<div *ngIf="singleProduct; then thenBlock1 else elseBlock1"></div>
<ng-template #thenBlock1>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
                <th scope="col">Img</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">{{prod5?.id}}</th>
                <td>{{prod5?.name}}</td>
                <td>{{prod5?.quantity}}</td>
                <td>{{prod5?.price|currency}}</td>
                <td><img [src]="prod5?.img" height="70" /></td>
            </tr>

        </tbody>
    </table>
</ng-template>
<ng-template #elseBlock1>
    <button type="button" class="btn btn-primary " (click)="hideTable()">Show Product 3</button>

</ng-template>
<!-- <img [src]="productList[0].Img" height="200" /> -->